body {
    min-width: 960px;
    background-image:url("dirty_old_shirt.png");
    margin-left:0px;
    margin-right:0px;
    font-family:Consolas,'Lucida Console','DejaVu Sans Mono',monospace;
    color: #E1E1E1;
}

h1 {
    font-family: helvetica,arial;
    font-weight: bold;
    text-align:right;
    color: #A0C544;
    background-color:#323232;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 90px;
    text-align:right;
}


a{
    color:#944DDB;
}

a:visited {
    color:#944DDB;
}

li {
    list-style:none;
}

#search {
    margin-right:5px;
    color:white;
    text-transform:uppercase;
}

#search input {
    background-color:white;
    border:solid 1px black;
    height:18px;
}

#banner {
    margin-top:10px;
    background-color:#323232;
}

#logo {
    margin-right:30px;
    margin-bottom:-1px;
}

#nav {
    margin:0px;
    background-color: #4B4B4B;
    height:30px;
}

#nav a {
    margin-right:10px;
    padding-right:10px;
    padding-left:10px;
    float:right;
    background-color:#4B4B4B;
    color: #FF9933;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    line-height: 30px;
    display: block;

}

#nav_extra_space {
    background-color:#4B4B4B;
    margin-bottom:40px;
}

#nav a:visited {
    background-color:#4B4B4B;
}

#nav a:hover{
    color:#1E1E1E;
    background-color:#E1E1E1;
}


.grid_3 h2{
    margin-top:0px;
    margin-right:0px;
    border-style:solid;
    border-color:red;
    font-size:10px;
}

.highlight {
    font-size:14px;
    color:#FF9933;
}

.grid_3{
    border-style:solid;
    border-color:red;
}